<header class="main-header">
  <!-- Logo -->
  <a href="../../index2.html" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>TMS</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Test</b>Movies</span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top text-center" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="javascript:void(0);" ng-click="toogleMenu()" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
  </nav>
</header>
