
<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="header">MENU</li>
      <li>
        <a href="/" ng-class="{active: checkPath('/')}">
          <i class="fa fa-dashboard"></i> <span>Ver Peliculas</span>
        </a>
      </li>
      <li>
        <a href="/movies" ng-class="{active: checkPath('/movies')}">
          <i class="fa fa-film"></i> <span>Peliculas</span>
        </a>
      </li>
      <li>
        <a href="/theaters" ng-class="{active: checkPath('/teatros')}">
          <i class="fa fa-line-chart"></i> <span>Teatros</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>

