<!-- Site wrapper -->
<div class="wrapper">

  <ng-include src="'app/layouts/header.html'"></ng-include>
  <!-- =============================================== -->

  <ng-include src="'app/layouts/nav.html'"></ng-include>
  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
     <section class="content-header">
      <h1>
        Teatros 
        <small>Crear Teatros </small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="box">
    <div class="box-body">
            <div class="form-group">
              <label for="exampleInputEmail1">Nombre del teatro</label>
              <input type="text" class="form-control" id="exampleInputEmail1"  ng-model="theater.name" placeholder="ingrese nombre">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Direccion del teatro</label>
              <input type="text" class="form-control" id="exampleInputPassword1" ng-model="theater.address" placeholder="ingrese direccion">
            </div> 
            <div class="form-group">
                  <label>Seleccione peliculas</label>
                  <select multiple="" class="form-control" ng-model="moviesSelectes">
                    <option  ng-repeat="value in values" value="{{value._id}}">{{value.title}}</option>
                  </select>
              </div>
          </div>
          <div class="box-footer">
            <button type="submit" ng-click="create(theater)" class="btn btn-primary">Crear</button>
          </div>
              </div>
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->

  <ng-include src="'app/layouts/footer.html'"></ng-include>
</div><!-- ./wrapper -->
