<!-- Site wrapper -->
<div class="wrapper">

  <ng-include src="'app/layouts/header.html'"></ng-include>
  <!-- =============================================== -->

  <ng-include src="'app/layouts/nav.html'"></ng-include>
  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
     <section class="content-header">
      <h1>
        Peliculas 
        <small>Editar Peliculas </small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="box">
    <div class="box-body">
            <div class="form-group">
              <label for="exampleInputEmail1">Titulo de la pelicula</label>
              <input type="text" class="form-control" id="exampleInputEmail1"  ng-model="movie.title" placeholder="ingrese titulo">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Fecha de la pelicula</label>
              <input type="date" class="form-control" id="exampleInputPassword1" ng-model="movie.year" placeholder="ingrese fecha">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Lenguaje de la pelicula</label>
              <input type="text" class="form-control" id="exampleInputPassword1" ng-model="movie.lenguaje" placeholder="ingrese lenguaje">
            </div>    
          </div>
          <div class="box-footer">
            <button type="submit" ng-click="edit(movie)" class="btn btn-primary">Editar</button>
          </div>
              </div>
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->

  <ng-include src="'app/layouts/footer.html'"></ng-include>
</div><!-- ./wrapper -->
