<!-- Site wrapper -->
<div class="wrapper">

  <ng-include src="'app/layouts/header.html'"></ng-include>
  <!-- =============================================== -->

  <ng-include src="'app/layouts/nav.html'"></ng-include>
  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
     <section class="content-header">
      <h1>
        Peliculas 
        <small>Peliculas del sistema </small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
  <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Lista de peliculas</h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <a class="btn btn-md btn-flat bg-olive margin-right-s margin-bottom-m"
            href="/movies/create">
            <i class="fa fa-plus"></i> Crear Pelicula
          </a>
            <div class="box-body table-responsive no-padding">
              
              <table class="table table-hover">
                <tbody><tr>
                  <th>Titulo</th>
                  <th>Fecha</th>
                  <th>Lenguaje</th>
                  <th>Opciones</th>

                </tr>
                <tr ng-repeat="movie in movies">
                  <td>{{movie.title}}</td>
                  <td>{{movie.year}}</td>
                  <td>{{movie.lenguaje}}</td>
                  <td>
                     <a class="btn btn-xs btn-flat bg-olive "
                      data-toggle="tooltip"
                      data-original-title="Editar"
                      href="/movies/edit/{{movie._id}}">
                      <i class="fa fa-edit"></i>
                    </a>
                    <button class="btn btn-xs btn-flat bg-red " 
                      data-toggle="tooltip"
                      data-original-title="Eliminar"
                      ng-click= "delete(movie._id,$index)">
                      <i class="fa fa-trash"></i>
                    </button>

                  </td>
                </tr>
              </tbody></table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->

  <ng-include src="'app/layouts/footer.html'"></ng-include>
</div><!-- ./wrapper -->
