<!-- Site wrapper -->
<div class="wrapper">

  <ng-include src="'app/layouts/header.html'"></ng-include>
  <!-- =============================================== -->

  <ng-include src="'app/layouts/nav.html'"></ng-include>
  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Cartelera de estrenos 
        <small>Cartelera </small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box" ng-repeat="theater in theaters">
        <div class="box-header with-border">
          <h3 class="box-title">Teatro : {{theater.name | uppercase}}</h3>
          <div class="box-tools pull-right">
            <label>Direccion : {{theater.address | uppercase}}</label>
            <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
            <!--<button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>-->
          </div>
        </div>
        <div class="box-body">
        Peliculas en cartelera
        <div class="row">
        <div class="col-md-4" ng-repeat="moviess in theater.movies track by $index">
          <!-- Widget: user widget style 1 -->
          <div class="box box-widget widget-user"  >
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-black" style=" background: url('http://lorempixel.com/400/400/') center center;">
              <h3 class="widget-user-username" style="    font-weight: bold;
    color: #ffffff;
    z-index: 9999999;">{{moviess.title | uppercase}}</h3>
              <h5 class="widget-user-desc">{{moviess.year | date:'mediumDate'}}</h5>  
              <h5 class="widget-user-desc">{{moviess.lenguaje | uppercase}}</h5>
            </div>
            <div class="widget-user-image">
              <img class="img-circle" src="http://pipsum.com/435x310.jpg" alt="User Avatar">
            </div>
            <div class="box-footer">
              <div class="row">
                <div class="col-sm-4 border-right">
                  <div class="description-block">  
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header">Idioma</h5>
                    <span class="description-text">{{moviess.lenguaje}}</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4">
                  <div class="description-block">
                   
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
          </div>
          <!-- /.widget-user -->
        </div>
      </div>




        </div><!-- /.box-body -->
      </div><!-- /.box -->

    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->

  <ng-include src="'app/layouts/footer.html'"></ng-include>
</div><!-- ./wrapper -->
